<% currently_at t('pages.home') %>
<% provide :page_title, t('pages.home') %>


<!-- Main header -->
<section class="h-auto">
    <!-- Carousel -->
    <%= render 'header'%>
    <%= render 'galleries'%>
</section>
<!-- Contac me -->
<%= render 'contact_forms/contact_me'%>

