<% currently_at t('pages.home') %>
<% provide :page_title, t('pages.home') %>

<div class="text-gray-200">
  <h1 class="font-bold text-4xl ">Main#index</h1>
  <p>Find me in app/views/main/index.html.erb</p>
</div>
