<% currently_at t('pages.home') %>
<% provide :page_title, t('pages.home') %>


<div class="px-2 lg:px-0 flex justify-center">
    <div id="gallery" class="relative w-full sm:w-2/3" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative overflow-hidden rounded-lg h-[20rem] lg:h-[32rem]">
            <% @images.each_with_index do |image, index| %>
                <% if index == 0 %>
                    <!-- Item 2 -->
                    <div class="hidden duration-900 ease-in-out" data-carousel-item="active">
                        <%= image_tag image, 
                            class: "absolute block w-full h-[20rem] lg:h-auto object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
                    </div>
                <% else %>
                    <div class="hidden duration-900 ease-in-out" data-carousel-item>
                        <%= image_tag image, 
                            class: "absolute block w-full h-[20rem] lg:h-auto object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"%>
                    </div>
                <% end %>
            <% end %>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        </button>
    </div>
</div>

