<% currently_at t('pages.home') %>
<% provide :page_title, t('pages.home') %>


<!-- Main carousel -->
<%= render 'contents/main_carousel'%>

<!-- Arrow down -->
<div class="flex justify-center">
    <%= link_to '#contact_me' do %>
        <%= heroicon 'chevron-double-down', class: 'w-6 h-6 text-gray-500 hover:text-gray-200'%>
    <% end %>
</div>

<%= render 'contacts/contact_me'%>

