<%= turbo_frame_tag gallery, class: "item" do %>
    <%= link_to admins_gallery_path(gallery), data: {turbo_frame: '_top'} do %>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-black dark:border-gray-700 hover:dark:border-gray-600 dark:text-gray-500 hover:dark:text-gray-400">
            <% if gallery.images.present?%>
                <%= image_tag gallery.images.last.file.medium.url, class: 'rounded-lg h-56 w-full object-cover'%>
            <% else%>
                <div class="flex items-center justify-center h-56 w-full object-cover rounded bg-gray-50 dark:bg-gray-800">
                    <p class="text-2xl">+</p>
                 </div>
            <% end %>
            <div class="p-5 text-center">
                <%= tag.h5 "#{gallery.title} (#{gallery.images.count})", 
                    class: "mb-2 text-2xl font-bold tracking-tight " %>
            </div>
        </div>
    <% end %>
<% end %>



