<section class="h-auto overflow-y-auto pt-16 pb-6" id="contact_me">
    <div class="container px-6 mx-auto">
        <div class="flex-auto justify-center text-center">
            <!-- Title -->
            <%= tag.h1 t('contact_me.title'), class: "mt-2 text-2xl font-semibold text-gray-800 md:text-3xl dark:text-gray-300" %>
            <!-- Description -->
            <div class="flex justify-center">
                <%= tag.p t('contact_me.desc'), class: "mt-3 text-gray-400 dark:text-gray-400 max-w-2xl text-lg" %>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-12 mt-6 lg:mt-10 lg:grid-cols-2">
            <!-- Contacts card -->
            <%= render 'contacts/contacts_card'%>
            <!-- Email form -->
            <%= render 'contacts/email_form'%>
        </div>
    </div>
</section>