<% currently_at t('gallery.title') %>
<% provide :page_title, t('gallery.title') %>
<% provide :nav_title, t('gallery.title') %>
<% provide :nav_path, admins_categories_path %>
<% provide :main_title, t('gallery.title') %>

<!-- Categories table -->
<%= turbo_frame_tag 'categories',
    class: "grid grid-cols-3 gap-4" do 
%>
    <%= render @categories %>
<% end %>

<div class="mt-6">
    <%= render 'shared/buttons/add', id: dom_id(Category.new, 'form'), title: t('category.add_btn'), path: new_admins_category_path%>
</div>