<!-- Mobile -->
<div class="sm:hidden px-2 lg:px-0 flex justify-center mb-20">
    <div id="gallery" class="relative w-full sm:w-2/3" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative overflow-hidden h-[28rem] lg:h-[32rem]">
            <% @images_mobile.each_with_index do |image, index| %>
                <div class="hidden duration-900 ease-in-out" data-carousel-item>
                    <%= image_tag image, 
                        class: "hidden duration-900 ease-in-out absolute block max-w-full h-[28rem] lg:h-auto object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2", data: {'carousel-item' => true}%>
                </div>
            <% end %>
            <%= link_to gallery_path, class: "absolute bottom-5 -translate-x-1/2 left-1/2 z-20 inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-gray-600 to-gray-500 group-hover:from-gray-600 group-hover:to-gray-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800" do %>
              <span class="relative text-sm sm:text-base text-gray-400 hover:text-white p-2.5 transition-all ease-in duration-75 bg-white dark:bg-black rounded-md group-hover:bg-opacity-0">
                  Посмотреть портфолио
              </span>
            <% end %>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            </button>
        </div>
    </div>
</div>